<ion-view>
    <ion-nav-title>Sobre</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-avatar">
                <img src="../img/caue.jpg">
                <h3 class="title">Caue Pievetti Vasques</h3>
            </div>
            <div class="item item-divider">
                Desenvolvedor de Sistemas
            </div>
            <div class="item item-text-wrap">
                Skills
                <div class="item item-body">
                    <ul ng-repeat="lista in listaDeSkill">
                        <li>{{lista.nome}}  <i class="icon {{lista.loading}}"></i></li>
                    </ul>
                </div>
            </div>
            <div class="item item-divider"> 
                Contato:<br>
                <ul>
                    <li>(11) 94385-8558</li>
                    <li>cpvasques@hotmail.com</li>
                    <li><a class="button button-outline button-block button-dark" href="#/sobre" onclick="window.open('https://github.com/cpvasques', '_system', 'location=yes')"><i class="icon ion-social-github"></i>  Git</a></li>
                    <li><a class="button button-outline button-block button-positive" href="#/sobre" onclick="window.open('https://www.linkedin.com/in/caue-pievetti-vasques-145a28155/', '_system', 'location=yes')"><i class="icon ion-social-linkedin"></i>  LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>