<ion-view>
    <ion-nav-title>{{veiculoEscolhido.nome}}</ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-avatar">
                <img ng-src="{{faccaoImg}}">
                {{veiculoEscolhido.faccao}}
            </div>
            <div class="item item-divider">
                Classe: {{veiculoEscolhido.classe}}
            </div>
            <div class="item item-text-wrap">
                {{veiculoEscolhido.nome}}
                <div class="item item-body">
                    <img class="full-image" ng-src="../../img/ships/{{veiculoEscolhido.imagem}}">
                    <p>  {{veiculoEscolhido.descricao}}</p>
                </div>
            </div>
    </ion-content>
</ion-view>